/* CORPO*/
body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}
h1,h2,h3{
    font-family: Asap, sans-serif;
    color: #000000;
}
.botao {
    color: #FFFFFF;
    text-decoration: none;
    padding: 1px 6px;
    background-color: #4F4F4F;
    font-size: .9em;
    border-radius: 3px;
}
/*NAVEGAÇÃO*/
nav{
    display:  flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF8C00
}

nav > a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%
}
nav ul li{
    text-align: center;
    width: 100%
}
nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}
header {
    display:  flex;
    flex-direction: column;
    align-items: center;
    background-image: url(".././img/1.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
header h1{
    color: #FFFFFF;
    
}

header p{
    margin-bottom: 2em;
}

header div{
    display:  flex;
    background-image: url(".././img/1.jpg");
    flex-direction: column;
    align-items: center;
    
    height: 40%;
    width: 90%; 
    
    box-shadow: 10px 10px 5px black;
   
    

}

#sobre {
    display:  flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #FF8C00;
    color: #FFFFFF;
}
#sobre h2{
    color: #FFFFFF;

}
#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;

}
#sobre .botao{
    color: #f1f1f1;
    background-color: #1c1c1c;   
}
/*servicos*/
#serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#serviços div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;   
}
#serviços div img{
    width: 20%

}
#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
#fotos h2{
    margin-bottom: 20px;
}
#fotos img{
    
    width: 50%;
}

#contato{
    display:  flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#contato h2{
    color: #000000;
}
#contato div img{
    width: 30%
}
#contato div {
    width: 30%
}

footer{
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #FFFFFF;
}
footer a{
    text-decoration: none;
    color: #00FFFF;
}

@media screen and (min-width: 760px){
    nav{
        flex-direction: row;
        justify-content: space-around;

    }
    nav ul{
        flex-direction:row;
        width: 70%;
    }
    header{
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    #sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    #serviços{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    #serviços h2{
        text-align: center;
        width: 100%;
    }
    #serviços div{
        flex-grow: 1;
        flex-basis: 100px;
        padding: 0 10px;

    }
    
    
    #fotos{
        flex-direction: row;
        flex-wrap: wrap;
    }
    #fotos h2{
        width: 100%;
        text-align: center;
    }
    #fotos img {
        width: 10%;
        padding: 0 17px;
        
    }
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2, #contato p {
        width: 100%;
    }
    
}
